#page-product-list {
    width: 100vw;
    height: 100vh;
}

#page-product-list main {
    margin: 2rem auto;
    width: 90%;
}



@media (min-width: 700px) {
    #page-product-list {
        max-width: 100%;
    }

    #page-product-list main {
        max-width: 740px;
    }
}